In [1]:
import pandas as pd
import numpy as np
import sqlite3
from sqlalchemy import create_engine

In [2]:
db_path = '../data/raw/machinehead20.db'

In [3]:
db_engine = create_engine(f'sqlite:///{db_path}')

In [4]:
def table_to_df(table_name):
    df = pd.read_sql_query(f'SELECT * FROM {table_name}', db_engine)
    return df

In [5]:
df_business_info = table_to_df('business_info')

In [6]:
def sorting_values(df,column):
    df = df.sort_values(by=[f'{column}'])
    return df

In [8]:
df_business_info = sorting_values(df_business_info,'realTimePosition')

In [9]:
df_business_info

,id,Unnamed: 0,Source,worth,worthChange,realTimeWorth,realTimePosition
0,8098,52,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,None,1
1,3112,53,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,None,2
2,7509,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,None,3
3,3270,55,Fashion & Retail ==> LVMH,72.0 BUSD,0.0 millions USD,None,4
4,6859,56,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,None,5
...,...,...,...,...,...,...,...
2155,1963,2207,Technology ==> mobile gaming,1.0 BUSD,nan millions USD,None,2151
2154,8489,2206,Manufacturing ==> antennas,1.0 BUSD,nan millions USD,None,2151
2136,1475,2188,Technology ==> Stripe,1.0 BUSD,0.0 millions USD,None,2152
2133,6035,2185,Metals & Mining ==> metallurgy,1.0 BUSD,nan millions USD,None,2153
2132,6335,2184,Fashion & Retail ==> Patagonia,1.0 BUSD,0.0 millions USD,None,2153

In [14]:
def name_normalizer(df,column):
    df = df[f'{column}'].str.title()
    return df

In [16]:
name_normalizer(df_business_info,'Source')

0                                Technology  ==> Amazon
1                             Technology  ==> Microsoft
2       Finance And Investments  ==> Berkshire Hathaway
3                            Fashion & Retail  ==> Lvmh
4                              Technology  ==> Facebook
                             ...
2155                      Technology  ==> Mobile Gaming
2154                        Manufacturing  ==> Antennas
2136                             Technology  ==> Stripe
2133                    Metals & Mining  ==> Metallurgy
2132                    Fashion & Retail  ==> Patagonia
Name: Source, Length: 2208, dtype: object

In [17]:
df_business_info

,id,Unnamed: 0,Source,worth,worthChange,realTimeWorth,realTimePosition
0,8098,52,Technology ==> Amazon,112.0 BUSD,0.0 millions USD,None,1
1,3112,53,Technology ==> Microsoft,90.0 BUSD,-0.001 millions USD,None,2
2,7509,54,Finance and Investments ==> Berkshire Hathaway,84.0 BUSD,-0.002 millions USD,None,3
3,3270,55,Fashion & Retail ==> LVMH,72.0 BUSD,0.0 millions USD,None,4
4,6859,56,Technology ==> Facebook,71.0 BUSD,0.0 millions USD,None,5
...,...,...,...,...,...,...,...
2155,1963,2207,Technology ==> mobile gaming,1.0 BUSD,nan millions USD,None,2151
2154,8489,2206,Manufacturing ==> antennas,1.0 BUSD,nan millions USD,None,2151
2136,1475,2188,Technology ==> Stripe,1.0 BUSD,0.0 millions USD,None,2152
2133,6035,2185,Metals & Mining ==> metallurgy,1.0 BUSD,nan millions USD,None,2153
2132,6335,2184,Fashion & Retail ==> Patagonia,1.0 BUSD,0.0 millions USD,None,2153

In [ ]:
df_business_info = sorting_values(df_business_info,'realTimePosition')

In [ ]:
df_business_info = name_normalizer(df_business_info,'Source')

In [27]:
df_business_info

0                                Technology  ==> Amazon
1                             Technology  ==> Microsoft
2       Finance And Investments  ==> Berkshire Hathaway
3                            Fashion & Retail  ==> Lvmh
4                              Technology  ==> Facebook
                             ...
2155                      Technology  ==> Mobile Gaming
2154                        Manufacturing  ==> Antennas
2136                             Technology  ==> Stripe
2133                    Metals & Mining  ==> Metallurgy
2132                    Fashion & Retail  ==> Patagonia
Name: Source, Length: 2208, dtype: object

In [ ]:
#null_count(df_business_info)

In [ ]:
df_personal_info = table_to_df('personal_info')

In [ ]:
null_count(df_personal_info)

In [ ]:
df_personal_info

In [ ]:
df_rank_info = table_to_df('rank_info')

In [ ]:
df_rank_info

In [ ]:
sorting_values(df_rank_info,'position')

In [ ]:
null_count(df_rank_info)

In [ ]:
#describe_df('business_info')

In [ ]:
#describe_df('personal_info')

In [ ]:
#describe_df('rank_info')